<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="tertiary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ tareaActual.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-list color="dark">
    <ion-item color="dark">
      <ion-label position="floating">Nueva Actividad</ion-label>
      <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()" ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list color="dark">
    <ion-list-header color="dark" *ngIf="tareaActual.items.length > 0 ">
        <ion-label>Actividades por hacer</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of tareaActual.items; let i = index" class="animated fadeInDown" >

      <ion-item-options side="start">
        <ion-item-option  (click)="editar(i)"> <ion-icon slot="icon-only" name="create"></ion-icon> </ion-item-option>
      </ion-item-options>

      <ion-item color="dark" >
        <ion-checkbox slot="start" color="tertiary" [(ngModel)]=" item.completado " (ionChange)="cambioItem(item)" ></ion-checkbox>
        <ion-label>{{ item.descripcion }}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="borrar(i)"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>



  </ion-list>

</ion-content>
